@view-transition {
  navigation: auto;
}

::view-transition-old(root) {
  animation: none;
  opacity: 0;
}

::view-transition-new(root) {
  animation: none;
}

::view-transition-group(post-title) {
  animation-duration: 0.2s;
}

::view-transition-old(post-title),
::view-transition-new(post-title) {
  height: 100%;
  object-fit: none;
  object-position: left top;
  overflow: clip;
}

@media (prefers-reduced-motion: reduce) {
  @view-transition {
    navigation: none;
  }
}
