:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);

  /* colors */
  --background: #2f2f2f;
  --logo-color: #2f2f2f;
  --accent: #a5ebec;
  --toc-color: rgba(165,235,236,0.8);
  --date-color: rgba(165,235,236,0.70196);
  --code-background: rgba(165,235,236,0.14902);
  --color: #d3d5d5;
  --blockquote-color: rgba(211,213,213,0.8);
  --tag-color: rgba(211,213,213,0.49804);
  --border-color: rgba(255, 255, 255, 0.1);
  --embed-background: #1E2732;
}

[data-theme="light"] {
  /* colors */
  --background: #fbfbfb;
  --logo-color: #fbfbfb;
  --accent: #2aa298;
  --toc-color: #2aa298;
  --date-color: #2aa298;
  --code-background: rgba(42,162,152,0.14902);
  --color: #403f53;
  --blockquote-color: rgba(64,63,83,0.8);
  --tag-color: rgba(64,63,83,0.49804);
  --border-color: rgba(0, 0, 0, 0.1);
  --embed-background: #ffffff;
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/FiraCode-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/FiraCode-Bold.woff") format("woff");
  font-display: swap;
}

html {
  box-sizing: border-box;
  font-size: 15px;
  overflow-x: hidden;
}

@media (max-width: 684px) {

html {
    font-size: 14px;
}
  }

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 40px;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: -0.02em;
  color: #d3d5d5;
  color: var(--color);
  background: #2f2f2f;
  background: var(--background);
  text-rendering: optimizeLegibility;
  font-family: "Fira Code", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "locl", "calt";
  font-variant-ligatures: contextual;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
  max-width: 864px;
  min-height: 100vh;
  overflow-x: hidden;
}

@media (max-width: 684px) {

body {
    padding: 10px;
}
  }

@media print {

body {
    display: inline;
    display: initial;
}
  }

h1,h2,h3,h4,h5,h6 {
  line-height: 1.5;
  margin-top: 30px;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
    text-decoration: none;
  }

h1,
h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration-style: dotted;
  text-decoration-color: #a5ebec;
  text-decoration-color: var(--accent);
}

p {
  margin-bottom: 20px;
}

img {
  display: block;
  max-width: 95%;
  max-height: 30rem;
  margin: auto;
}

figure {
  display: table;
  margin: auto;
}

figure figcaption {
    display: table-caption;
    caption-side: bottom;
    margin: auto;
    max-width: 95%;
    font-size: 0.9rem;
    padding: 5px 10px;
    background: #a5ebec;
    background: var(--accent);
    color: #2f2f2f;
    color: var(--background);
  }

code,
kbd {
  font-family: "Fira Code", Monaco, Consolas, Ubuntu Mono, monospace;
  font-feature-settings: nomal;
  letter-spacing: 0em;
  background: rgba(165,235,236,0.14902);
  background: var(--code-background);
  border-radius: 2px;
  color: #a5ebec;
  color: var(--accent);
  padding: 1px 5px;
  margin: 0 2px;
}

pre {
  background: transparent !important;
}

pre {
  margin: 30px 20px;
  overflow: auto;
  font-size: 95%;
  font-weight: lighter;
}

pre + pre {
    border-top: 0;
    margin-top: -20px;
  }

@media (max-width: 684px) {

pre {
    margin: 30px 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
  }

pre code {
    border-radius: 10px;
    margin: 0;
    padding: 0;
    font-size: inherit;
    border: 0;
  }

blockquote {
  font-style: italic;
  color: rgba(211,213,213,0.8);
  color: var(--blockquote-color);
  margin: 0;
  padding: 0 25px;
}

@media (max-width: 684px) {

blockquote {
    padding-right: 0;
}
  }

blockquote p {
    position: relative;
  }

blockquote p:first-of-type {
      margin-top: 0;
    }

blockquote p:first-of-type:before {
        content: ">";
        display: block;
        position: absolute;
        left: -25px;
        color: #a5ebec;
        color: var(--accent);
      }

blockquote p:last-of-type {
      margin-bottom: 0;
    }

table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  border-top: 2px solid #a5ebec;
  border-top: 2px solid var(--accent);
  border-bottom: 2px solid #a5ebec;
  border-bottom: 2px solid var(--accent);
}

table th {
    color: #a5ebec;
    color: var(--accent);
    padding: 10px;
    border-bottom: 1px solid #a5ebec;
    border-bottom: 1px solid var(--accent);
  }

table td {
    padding: 10px;
  }

ul,
ol {
  margin-left: 30px;
  padding: 0;
}

ul li, ol li {
    margin: -0.5rem 0;
    position: relative;
  }

ol {
  list-style: none;
  counter-reset: li;
}

ol li {
    counter-increment: li;
  }

ol li:before {
      content: counter(li) ".";
      position: absolute;
      right: calc(100% + 5px);
      display: inline-block;
      text-align: right;
    }

ol ol li {
    list-style-type: lower-alpha;
  }

ol ol li:before {
      content: "";
    }

mark {
  background: #a5ebec;
  background: var(--accent);
  color: #2f2f2f;
  color: var(--background);
}

hr {
  width: 100%;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  background: var(--border-color);
  height: 1px;
}

button {
  padding: 1px 6px;
  border: 2px solid #a5ebec;
  border: 2px solid var(--accent);
  background: #2f2f2f;
  background: var(--background);
  color: #a5ebec;
  color: var(--accent);
  font: inherit;
  cursor: pointer;
}

button:hover {
    background: #a5ebec;
    background: var(--accent);
    color: #2f2f2f;
    color: var(--logo-color);
  }

header {
  display: flex;
  flex-direction: column;
  position: relative;
}

@media print {

header {
    display: none;
}
  }

header .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    background: #a5ebec;
    background: var(--accent);
    color: #2f2f2f;
    color: var(--logo-color);
    padding: 5px 10px;
  }

header .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

header .header-logo {
    display: flex;
    flex: 1;
  }

header .header-logo:after {
      content: "";
      background: repeating-linear-gradient(
        90deg,
        #a5ebec,
        #a5ebec 2px,
        transparent 0,
        transparent 10px
      );
      background: repeating-linear-gradient(
        90deg,
        var(--accent),
        var(--accent) 2px,
        transparent 0,
        transparent 10px
      );
      display: block;
      width: 100%;
      right: 10px;
    }

header .header-logo a {
      flex: 0 0 auto;
      max-width: 100%;
      text-decoration: none;
    }

header nav {
    margin: 20px 0;
  }

@media (max-width: 684px) {

header nav {
      display: none;
  }
    }

header nav ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
    }

header nav ul li:not(:last-of-type) {
          margin-right: 16px;
        }

header nav ul li.theme-switcher {
          margin-left: auto;
        }

@media (max-width: 684px) {

header nav ul li.theme-switcher {
            margin-left: 0;
        }
          }

@media (max-width: 684px) {

header nav ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }
        header nav ul li {
          margin: 0;
          padding: 5px;
        }
      }

header input#menu-trigger {
    display: none;
  }

@media (max-width: 684px) {

header input#menu-trigger:checked + nav {
        display: block;
        position: absolute;
        background: #2f2f2f;
        background: var(--background);
        color: #d3d5d5;
        color: var(--color);
        border: 2px solid;
        margin: 0;
        padding: 10px;
        list-style: none;
        z-index: 99;
        top: 50px;
        right: 0;
    }
      }

header .menu {
    display: none;
  }

@media (max-width: 684px) {

header .menu {
      cursor: pointer;
      display: inline;
      color: #a5ebec;
      color: var(--accent);
      border: 2px solid;
      margin-left: 10px;
      height: 100%;
      padding: 3px 8px;
      position: relative;
  }
    }

.franklin-headline {
  width: 100%;
  text-align: left;
  margin: 20px auto 0;
}

.franklin-headline a {
    text-decoration: none;
  }

.franklin-headline h1.title {
    --border: 3px dotted var(--accent);
    position: relative;
    color: #a5ebec;
    color: var(--accent);
    margin-bottom: 8px;
    padding-bottom: 15px;
    border-bottom: var(--border);
  }

.franklin-headline h1.title:after {
      content: "";
      position: absolute;
      bottom: 2px;
      display: block;
      width: 100%;
      border-bottom: var(--border);
    }

.franklin-headline .date {
    font-size: 1rem;
    color: rgba(165,235,236,0.70196);
    color: var(--date-color);
  }

.franklin-headline .tags {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    color: rgba(211,213,213,0.49804);
    color: var(--tag-color);
  }

.postlist {
  padding: 20px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid var(--border-color);
}

.postlist p {
    margin: 0;
  }

.postlist a.read-more {
    display: flex;
    text-decoration: none;
    color: #a5ebec;
    color: var(--accent);
  }

.franklin-content {
  width: 100%;
  text-align: left;
  margin: 0 auto 20px;
  padding: 0 0 20px;
}

.franklin-content ul {
    list-style: none;
  }

.franklin-content ul li:not(:empty):before {
      content: "*";
      position: absolute;
      left: -20px;
      color: #a5ebec;
      color: var(--accent);
    }

.franklin-content sup {
    font-size: 70%;
    line-height: 0;
  }

.franklin-content table.fndef {
    margin-bottom: 10px;
    border-top: 1px solid #a5ebec;
    border-top: 1px solid var(--accent);
    border-bottom: 1px solid #a5ebec;
    border-bottom: 1px solid var(--accent);
  }

.franklin-content table.fndef td {
      font-size: 90%;
    }

.franklin-content table.fndef td.fndef-backref {
        vertical-align: top;
      }

.franklin-content table.fndef td.fndef-content {
        width: 100%;
      }

.franklin-content .eqref,
  .franklin-content .bibref {
    color: #a5ecca;
  }

.franklin-content table.tagpage {
    border: none;
    margin: 0;
  }

.franklin-content table.tagpage .count {
      text-align: center;
      font-weight: bold;
      color: #a5ebec;
      color: var(--accent);
    }

.franklin-content table.tagpage .block a {
        font-size: 105%;
        text-decoration: none;
        color: rgba(211,213,213,0.49804);
        color: var(--tag-color);
      }

.franklin-content table.tagpage .block a:hover {
          color: #a5ebec;
          color: var(--accent);
        }

.franklin-content .framed {
    border: 1px solid #a5ebec;
    border: 1px solid var(--accent);
    padding: 20px;
  }

.franklin-content .framed :first-child {
      margin-top: 0;
    }

.franklin-content .framed :last-child {
      margin-bottom: 0;
    }

.franklin-content .twitter-tweet {
    margin: 0 auto;
  }

.franklin-toc {
  --border: 1px dotted var(--toc-color);
  color: rgba(165,235,236,0.8);
  color: var(--toc-color);
  font-size: 0.9rem;
  border-top: var(--border);
  border-bottom: var(--border);
  margin: 1rem;
}

.franklin-toc li {
    margin: 0.2rem 0;
  }

.franklin-toc li ol li:last-of-type {
      margin-bottom: 0.4rem;
    }

.franklin-toc:before {
    content: "TOC";
    background: #2f2f2f;
    background: var(--background);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -0.8rem;
  }

.franklin-toc a {
    text-decoration: none;
  }

@media (max-width: 684px) {

.franklin-toc {
    margin: 0 0 1rem;
}
  }

.embed {
  display: flex;
  height: 140px;
  background: #1E2732;
  background: var(--embed-background);
  border: 1px solid #a5ebec;
  border: 1px solid var(--accent);
  border-radius: 5px;
  padding: 3px;
  position: relative;
  margin-bottom: 20px;
}

@media (max-width: 684px) {

.embed {
    height: 120px;
}
  }

.embed > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.embed > img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 3px;
    height: 100%;
    max-width: 40%;
    margin-left: 0;
    margin-right: 20px;
  }

@media (max-width: 684px) {

.embed > img {
      margin-right: 10px;
  }
    }

.embed .embed-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    overflow-x: hidden;
  }

@media (max-width: 684px) {

.embed .embed-content {
      margin-right: 0px;
  }
    }

.embed .embed-content b {
      font-size: 0.95rem;
      line-height: 1.5;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

.embed .embed-content p {
      font-size: 0.85rem;
      line-height: 1.5;
      max-width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 5px 0;
    }

@media (max-width: 684px) {

.embed .embed-content p {
        -webkit-line-clamp: 1;
    }
      }

.embed .embed-content .domain {
      font-size: 0.8rem;
      color: rgba(211,213,213,0.49804);
      color: var(--tag-color);
    }

.page-foot {
  padding: 40px 0;
  opacity: 0.5;
}

.page-foot a {
    color: inherit;
  }

.page-foot .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

@media (max-width: 900px) {

.page-foot .copyright {
      flex-direction: column;
      margin-top: 10px;
  }
    }

/* highlight.js */

/*

Night Owl for highlight.js (c) Carl Baxter <carl@cbax.tech>

An adaptation of Sarah Drasner's Night Owl VS Code Theme 
https://github.com/sdras/night-owl-vscode-theme 

Copyright (c) 2018 Sarah Drasner

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: rgb(33, 33, 33);
  color: rgb(224, 226, 226);
}

/* General Purpose */

.hljs-keyword {
  color: #c792ea;
}

.hljs-built_in {
  color: #addb67;
}

.hljs-type {
  color: #82aaff;
}

.hljs-literal {
  color: #ff5874;
}

.hljs-number {
  color: #f78c6c;
}

.hljs-regexp {
  color: #5ca7e4;
}

.hljs-string {
  color: #ecc48d;
}

.hljs-subst {
  color: #d3423e;
}

.hljs-symbol {
  color: #82aaff;
}

.hljs-class {
  color: #ffcb8b;
}

.hljs-function {
  color: #82aaff;
}

.hljs-title {
  color: #dcdcaa;
}

.hljs-params {
  color: #7fdbca;
}

/* Meta */

.hljs-comment {
  color: #637777;
  font-style: italic;
}

.hljs-doctag {
  color: #7fdbca;
}

.hljs-meta {
  color: #82aaff;
}

.hljs-meta-keyword {
  color: #82aaff;
}

.hljs-meta-string {
  color: #ecc48d;
}

/* Tags, attributes, config */

.hljs-section {
  color: #82b1ff;
}

.hljs-tag,
.hljs-name,
.hljs-builtin-name {
  color: #7fdbca;
}

.hljs-attr {
  color: #7fdbca;
}

.hljs-attribute {
  color: #80cbc4;
}

.hljs-variable {
  color: #addb67;
}

/* Markup */

.hljs-bullet {
  color: #d9f5dd;
}

.hljs-code {
  color: #80cbc4;
}

.hljs-emphasis {
  color: #c792ea;
  font-style: italic;
}

.hljs-strong {
  color: #addb67;
  font-weight: bold;
}

.hljs-formula {
  color: #c792ea;
}

.hljs-link {
  color: #ff869a;
}

.hljs-quote {
  color: #697098;
  font-style: italic;
}

/* CSS */

.hljs-selector-tag {
  color: #ff6363;
}

.hljs-selector-id {
  color: #fad430;
}

.hljs-selector-class {
  color: #addb67;
  font-style: italic;
}

.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #c792ea;
  font-style: italic;
}

/* Templates */

.hljs-template-tag {
  color: #c792ea;
}

.hljs-template-variable {
  color: #addb67;
}

/* diff */

.hljs-addition {
  color: rgba(173,219,103,1);
}

.hljs-deletion {
  color: rgba(239,83,80,0.56471);
}

/* Julia REPL */

.language-julia-repl .hljs-meta {
    color: #80cbc4;
    font-weight: bold;
  }

.language-julia-repl .hljs-metap {
    color: #82b1ff;
    font-weight: bold;
  }

.language-julia-repl .hljs-metas {
    color: #ef5350;
    font-weight: bold;
  }

table.hljs-ln {
  table-layout: auto;
  width: auto;
  margin: 5px 0;
  border: none;
}

table.hljs-ln .hljs-ln-numbers {
    --ln-color: rgba(165,235,236,0.50196);
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    text-align: right;
    vertical-align: top;
    padding-right: 8px;
    padding-left: 2px;
    color: var(--ln-color);
    border-right: 1px solid var(--ln-color);
  }

table.hljs-ln .hljs-ln-code {
    padding-left: 10px;
  }

/* katex */

body {
  counter-reset: eqnum;
}

.katex {
  font-size: 1.2rem !important;
}

.katex-display .katex {
  display: inline-block;
}

.katex-display::after {
  counter-increment: eqnum;
  content: "(" counter(eqnum) ")";
  position: relative;
  float: right;
  padding-right: 10px;
  font-size: 1rem;
}
