.franklin-content {
  --nc-background: var(--background);
  --nc-text-background: var(--embed-background);
  --nc-text-color: var(--color);
  --nc-text-color-dark: var(--blockquote-color);
  --nc-primary-color: var(--accent);
  --nc-primary-contrast: var(--logo-color);
  
  & button > svg {
    fill: var(--nc-text-color);
  }

  & textarea {
    resize: vertical;
  }
}
