table.hljs-ln {
  table-layout: auto;
  width: auto;
  margin: 5px 0;
  border: none;
  & .hljs-ln-numbers {
    --ln-color: color-mod(var(--accent) a(50%));
    user-select: none;
    text-align: right;
    vertical-align: top;
    padding-right: 8px;
    padding-left: 2px;
    color: var(--ln-color);
    border-right: 1px solid var(--ln-color);
  }
  & .hljs-ln-code {
    padding-left: 10px;
  }
}
