.postlist {
  &:first-of-type {
    padding: 20px 0 20px;
  }
  padding: 50px 0 20px;
  border-bottom: 2px solid var(--border-color);
  & p {
    margin: 0;
  }
  & a.read-more {
    display: flex;
    text-decoration: none;
    color: var(--accent);
  }
}
