.postlist {
  padding: 20px 0;
  border-bottom: 2px solid var(--border-color);
  & p {
    margin: 0;
  }
  & a.read-more {
    display: flex;
    text-decoration: none;
    color: var(--accent);
  }
}
